/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.*
/Frontend/.yarn/*
/Frontend/!.yarn/patches
/Frontend/!.yarn/plugins
/Frontend/!.yarn/releases
/Frontend/!.yarn/versions
/Frontend/package-lock.json
/Frontend/.gitignore
# testing
/Frontend/coverage

# next.js
/Frontend/.next/
/Frontend/out/

# production
/Frontend/build

# misc
/Frontend.DS_Store
/Frontend*.pem

# debug
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
/Frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/Frontend/.env*

# vercel
/Frontend/.vercel

# typescript
/Frontend/*.tsbuildinfo
/Frontend/next-env.d.ts




/Backend/node_modules
/Backend/.pnp
/Backend/.pnp.*
/Backend/.yarn/*
/Backend/!.yarn/patches
/Backend/!.yarn/plugins
/Backend/!.yarn/releases
/Backend/!.yarn/versions
/Backend/package-lock.json
/Backend/.gitignore
# testing
/Backend/coverage

# next.js
/Backend/.next/
/Backend/out/

# production
/Backend/build

# misc
/Backend/.DS_Store
/Backend/*.pem

# debug
/Backend/npm-debug.log*
/Backend/yarn-debug.log*
/Backend/yarn-error.log*
/Backend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/Backend/.env*

# vercel
/Backend/.vercel

# typescript
/Backend/*.tsbuildinfo
/Backend/next-env.d.ts